<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="listarVeiculos()">Lista de Veiculos<ion-icon  slot="end" name="car-sport-outline" ></ion-icon> </ion-button>
  <ion-button expand="block" (click)="addVeiculos()">Cadastrar Veiculo <ion-icon slot="end" name="add-outline"></ion-icon> </ion-button>
</ion-content>
