<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
    


<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://thumbs.dreamstime.com/b/parkeerpictogram-parkeren-voor-auto-s-vectorillustratie-164768464.jpg" />
    <ion-card-header>
      <ion-card-title>EstacioApp</ion-card-title>
      <ion-card-subtitle>Aplicativo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Gerencie e acompanhe seu estacionamento na palma da sua mão!
    </ion-card-content>
  </ion-card>


  <!-- <div id="container">
    <strong class="capitalize">Estacionamento</strong>
    <P><ion-img src="https://thumbs.dreamstime.com/b/parkeerpictogram-parkeren-voor-auto-s-vectorillustratie-164768464.jpg"  alt="Imagem do app de estacionamento"></ion-img></P>
  </div> -->
</ion-content>
