<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usiarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="listarUsuarios()">Lista de Usuários <ion-icon slot="end" name="people-outline"></ion-icon> </ion-button>
  <ion-button expand="block" (click)="addUsuarios()">Cadastrar Usuário <ion-icon slot="end" name="person-add-outline"></ion-icon> </ion-button>
</ion-content>
